@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-bg: #fffafa;
}

body {
    background-color: var(--clr-bg);
}

.bg-pattern {
    background-image: url('/bg-pattern.svg');
    background-repeat: repeat;
    opacity: 30%;
}